openapi: 3.0.1
info:
  title: MLB Project API
  description: API documentation for the MLB project.
  version: v1.0.0
servers:
- url: http://api.fantasy11.click
  description: Generated server url
security:
- jwtAuth: []
tags:
- name: Match
  description: 매칭 상태 조회
paths:
  /api/playerCache/cache:
    post:
      tags:
      - player-cache-controller
      operationId: cachePlayerList
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/notify/raw:
    post:
      tags:
      - chat-notification-controller
      operationId: raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RawNotify"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
  /api/chat-rooms:
    post:
      tags:
      - chat-room-query-controller
      operationId: createChatRoom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChatRoomRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatRoom"
  /api/chat-rooms/{roomId}/reindex:
    post:
      tags:
      - chat-reindex-controller
      operationId: reindex
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
  /api/chat-rooms/{roomId}/read-state:
    get:
      tags:
      - chat-read-controller
      operationId: getReadState
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - chat-read-controller
      operationId: markRead
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/auth/reissue:
    post:
      tags:
      - auth-controller
      operationId: reissue
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/auth/logout:
    post:
      tags:
      - auth-controller
      operationId: logout
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /health:
    get:
      tags:
      - health-controller
      operationId: healthCheck
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/user/seasonBestScore:
    get:
      tags:
      - season-user-score-controller
      operationId: getSeasonBestScore
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SeasonUserScoreDto"
  /api/user/me:
    get:
      tags:
      - user-me-controller
      operationId: me
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserMeResponse"
  /api/user/current-room:
    get:
      tags:
      - current-room-controller
      operationId: getCurrentRoom
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/team/getTable:
    get:
      tags:
      - team-controller
      operationId: getTeamTable
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TeamTableDto"
  /api/session-tokens:
    get:
      tags:
      - session-token-controller
      operationId: getTokens
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: string
  /api/playerEs/search:
    get:
      tags:
      - player-es-controller
      operationId: searchWithKeyword
      parameters:
      - name: keyword
        in: query
        required: false
        schema:
          type: string
          default: ""
      - name: elementTypeId
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlayerEsDocument"
  /api/playerCache:
    get:
      tags:
      - player-cache-controller
      operationId: getPlayerList
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlayerDto"
  /api/player/previousPlayer:
    get:
      tags:
      - player-controller
      operationId: getPreviousBestPlayer
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PreviousBestPlayerDto"
  /api/notify/room/{roomId}:
    get:
      tags:
      - chat-notification-controller
      operationId: roomAlert
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: text
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /api/match/status:
    get:
      tags:
      - Match
      summary: 현재 매칭 상태 조회
      description: "대기 인원수(count), 상태(state), 남은 시간(remainingTime, mm:ss), 라운드 정보\
        (round)를 반환합니다."
      operationId: getStatus
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: 조회 성공
          content:
            application/json:
              examples:
                BEFORE_OPEN:
                  description: BEFORE_OPEN
                  value:
                    count: 27
                    state: BEFORE_OPEN
                    remainingTime: 12:34
                    round:
                      id: 11111111-1111-1111-1111-111111111111
                      "no": 3
                      openAt: 2025-08-18T20:50:00
                      lockAt: 2025-08-20T20:50:00
                OPEN:
                  description: OPEN
                  value:
                    count: 31
                    state: OPEN
                    remainingTime: 05:10
                    round:
                      id: 11111111-1111-1111-1111-111111111111
                      "no": 3
                      openAt: 2025-08-18T20:50:00
                      lockAt: 2025-08-20T20:50:00
                LOCKED:
                  description: LOCKED
                  value:
                    count: 0
                    state: LOCKED
                    remainingTime: 00:00
                    round:
                      id: 11111111-1111-1111-1111-111111111111
                      "no": 3
                      openAt: 2025-08-18T20:50:00
                      lockAt: 2025-08-20T20:50:00
  /api/elementType/all:
    get:
      tags:
      - element-type-controller
      operationId: getAllElementType
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ElementTypeDto"
  /api/draft/{participantId}/players:
    get:
      tags:
      - draft-controller
      operationId: getPlayersByParticipantId
      parameters:
      - name: participantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DraftResponse"
  /api/draft/{draftId}/participants:
    get:
      tags:
      - draft-controller
      operationId: getParticipantsByDraftId
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DraftParticipant"
  /api/draft/{draftId}/allPlayers:
    get:
      tags:
      - draft-controller
      operationId: getAllPlayersByDraftId
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DraftResponse"
  /api/draft/squadLimit:
    get:
      tags:
      - draft-controller
      operationId: isWithinSquadLimits
      parameters:
      - name: participantId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/chat-rooms/{roomId}/search:
    get:
      tags:
      - chat-search-controller
      operationId: search
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        required: false
        schema:
          type: string
          default: ""
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatSearchResult"
  /api/chat-rooms/{roomId}/scoreboard:
    get:
      tags:
      - chat-room-query-controller
      operationId: scoreboard
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScoreboardItem"
  /api/chat-rooms/{roomId}/participants/{participantId}/roster:
    get:
      tags:
      - chat-room-query-controller
      operationId: roster
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: participantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RosterResponse"
  /api/chat-rooms/{roomId}/messages:
    get:
      tags:
      - chat-history-controller
      operationId: latest
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatHistoryPage"
  /api/chat-rooms/{roomId}/messages/before:
    get:
      tags:
      - chat-history-controller
      operationId: before
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cursor
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatHistoryPage"
  /api/chat-rooms/getChatroomId:
    get:
      tags:
      - chat-room-controller
      operationId: roster_1
      parameters:
      - name: draftId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatRoomDto"
  /api/chat-rooms/by-draft/{draftId}:
    get:
      tags:
      - chat-room-query-controller
      operationId: getChatRoomByDraft
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatRoom"
  /:
    get:
      tags:
      - root-redirect-controller
      operationId: redirectToLogin
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    RawNotify:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        fixtureId:
          type: string
          format: uuid
        eventType:
          type: string
        minute:
          type: integer
          format: int32
        point:
          type: integer
          format: int32
        text:
          type: string
    CreateChatRoomRequest:
      type: object
      properties:
        draftId:
          type: string
          format: uuid
    ChatRoom:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        draftId:
          type: string
          format: uuid
    SeasonUserScoreDto:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        score:
          type: integer
          format: int32
        points:
          type: integer
          format: int32
    UserMeResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
    TeamTableDto:
      type: object
      properties:
        fplId:
          type: integer
          format: int32
        name:
          type: string
        win:
          type: integer
          format: int32
        draw:
          type: integer
          format: int32
        lose:
          type: integer
          format: int32
        points:
          type: integer
          format: int32
        played:
          type: integer
          format: int32
        position:
          type: integer
          format: int32
        pic:
          type: string
    PlayerEsDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
        webName:
          type: string
        krName:
          type: string
        pic:
          type: string
        status:
          type: string
        teamName:
          type: string
        teamKrName:
          type: string
        elementTypeId:
          type: string
          format: uuid
        elementTypePluralName:
          type: string
        elementTypeKrName:
          type: string
    PlayerDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        webName:
          type: string
        krName:
          type: string
        pic:
          type: string
        status:
          type: string
        teamName:
          type: string
        teamKrName:
          type: string
        elementTypeId:
          type: string
          format: uuid
        elementTypePluralName:
          type: string
        elementTypeKrName:
          type: string
    PreviousBestPlayerDto:
      type: object
      properties:
        playerFplId:
          type: integer
          format: int32
        playerName:
          type: string
        krName:
          type: string
        pic:
          type: string
        etName:
          type: string
        teamName:
          type: string
        totalPoints:
          type: integer
          format: int32
    ElementTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fplId:
          type: integer
          format: int32
        pluralName:
          type: string
        krName:
          type: string
        squadMinPlay:
          type: integer
          format: int32
        squadMaxPlay:
          type: integer
          format: int32
    DraftResponse:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
        playerId:
          type: string
          format: uuid
        playerWebName:
          type: string
        playerKrName:
          type: string
        playerPic:
          type: string
        teamId:
          type: string
          format: uuid
        teamName:
          type: string
        teamKrName:
          type: string
        elementTypeId:
          type: string
          format: uuid
        elementTypePluralName:
          type: string
        elementTypeKrName:
          type: string
        alreadySelected:
          type: boolean
    DraftParticipant:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
        participantUserNumber:
          type: integer
          format: int32
        participantDummy:
          type: boolean
        userEmail:
          type: string
        userName:
          type: string
        userFlag:
          type: boolean
    ChatSearchResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        nextCursor:
          type: string
        hasMore:
          type: boolean
    Item:
      type: object
      properties:
        id:
          type: string
          format: uuid
        chatRoomId:
          type: string
          format: uuid
        content:
          type: string
        userId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        type:
          type: string
    ScoreboardItem:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        email:
          type: string
        totalPoints:
          type: integer
          format: int32
        rank:
          type: integer
          format: int32
        leaguePoints:
          type: integer
          format: int32
    PlayerSlot:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        name:
          type: string
        position:
          type: string
        team:
          type: string
        points:
          type: integer
          format: int32
        pic:
          type: string
    RosterResponse:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
        formation:
          type: string
        players:
          type: array
          items:
            $ref: "#/components/schemas/PlayerSlot"
    ChatHistoryPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        nextCursor:
          type: string
        hasMore:
          type: boolean
    ChatRoomDto:
      type: object
      properties:
        roomId:
          type: string
          format: uuid
        draftId:
          type: string
          format: uuid
  securitySchemes:
    jwtAuth:
      type: http
      name: jwtAuth
      scheme: bearer
      bearerFormat: JWT
